In [100]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [101]:
df = pd.read_csv('data/train_set.csv')
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [102]:
label = pd.read_csv('data/lables.csv')
label.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [103]:
df2 = pd.merge(df, label, on='id')
df2.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [82]:
df2.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [104]:
train = df2[['amount_tsh','longitude','latitude','region','population','extraction_type','extraction_type_class',
            'payment','water_quality','quality_group','quantity_group','source','source_type','waterpoint_type',
            'status_group']]
train.head()

,amount_tsh,longitude,latitude,region,population,extraction_type,extraction_type_class,payment,water_quality,quality_group,quantity_group,source,source_type,waterpoint_type,status_group
0,6000.0,34.938093,-9.856322,Iringa,109,gravity,gravity,pay annually,soft,good,enough,spring,spring,communal standpipe,functional
1,0.0,34.698766,-2.147466,Mara,280,gravity,gravity,never pay,soft,good,insufficient,rainwater harvesting,rainwater harvesting,communal standpipe,functional
2,25.0,37.460664,-3.821329,Manyara,250,gravity,gravity,pay per bucket,soft,good,enough,dam,dam,communal standpipe multiple,functional
3,0.0,38.486161,-11.155298,Mtwara,58,submersible,submersible,never pay,soft,good,dry,machine dbh,borehole,communal standpipe multiple,non functional
4,0.0,31.130847,-1.825359,Kagera,0,gravity,gravity,never pay,soft,good,seasonal,rainwater harvesting,rainwater harvesting,communal standpipe,functional

In [97]:
train.isna().sum()

amount_tsh               0
longitude                0
latitude                 0
region                   0
population               0
extraction_type          0
extraction_type_class    0
payment                  0
water_quality            0
quality_group            0
quantity_group           0
source                   0
source_type              0
waterpoint_type          0
status_group             0
dtype: int64

In [98]:
train['status_group'].unique()

array(['functional', 'non functional', 'functional needs repair'],
      dtype=object)

In [99]:
train['status_group'] = train['status_group'].map({'functional': 0, 'non functional': 1,
                                                   'functional needs repair': 2})
train.head()

<ipython-input-99-bc840713ecd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['status_group'] = train['status_group'].map({'functional': 0, 'non functional': 1,

,amount_tsh,longitude,latitude,region,population,extraction_type,extraction_type_class,payment,water_quality,quality_group,quantity_group,source,source_type,waterpoint_type,status_group
0,6000.0,34.938093,-9.856322,Iringa,109,gravity,gravity,pay annually,soft,good,enough,spring,spring,communal standpipe,0
1,0.0,34.698766,-2.147466,Mara,280,gravity,gravity,never pay,soft,good,insufficient,rainwater harvesting,rainwater harvesting,communal standpipe,0
2,25.0,37.460664,-3.821329,Manyara,250,gravity,gravity,pay per bucket,soft,good,enough,dam,dam,communal standpipe multiple,0
3,0.0,38.486161,-11.155298,Mtwara,58,submersible,submersible,never pay,soft,good,dry,machine dbh,borehole,communal standpipe multiple,1
4,0.0,31.130847,-1.825359,Kagera,0,gravity,gravity,never pay,soft,good,seasonal,rainwater harvesting,rainwater harvesting,communal standpipe,0

In [105]:
X = train.drop(columns=['status_group'], axis=1)
y = train['status_group']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)